
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="/adminPage/js/pages/tables/jquery-datatable.js"></script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Yönetim
                </h2><br />
                <p>Şirket bilgileri, İzin türleri, Resmi tatil takvimi ve ekleme , Ödeme türü ekleme ve Zimmet ürünleri ekleme sayfasıdır.</p>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#sirketBilgileriTab" data-toggle="tab">
                            Şirket Bilgileri
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#resmiTatillerTab" data-toggle="tab">
                            Resmi Tatiller
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#izinTuruTab" data-toggle="tab">
                            İzin Türleri
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#odemeTuruTab" data-toggle="tab">
                            Ödeme Türü Ekleme
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#zimmetUrunuTab" data-toggle="tab">
                            Zimmet Ürünü Ekleme
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="sirketBilgileriTab">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-group" id="accordion_17" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-col-teal">
                                                    <div class="panel-heading" role="tab" id="headingOne_17">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseOne_17" aria-expanded="false" aria-controls="collapseOne_17" class="collapsed">
                                                                <i class="material-icons">perm_contact_calendar</i>Şirket
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_17" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <div class="row clearfix">
                                                                    <div class="button-demo js-modal-yeniSirket pull-right ">
                                                                        <button type="button" data-color="White" class="btn bg-primary waves-effect">Yeni Şirket Ekle</button>
                                                                    </div>
                                                                </div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">Atlas Yazılım<span class="badge bg-pink">14 Çalışan</span></li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel panel-col-teal">
                                                    <div class="panel-heading" role="tab" id="headingTwo_17">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseTwo_17" aria-expanded="false" aria-controls="collapseTwo_17">
                                                                <i class="material-icons">cloud_download</i> Şube
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_17" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <div class="row clearfix">
                                                                    <div class="button-demo js-modal-yeniSube pull-right ">
                                                                        <button type="button" data-color="White" class="btn bg-primary waves-effect">Yeni Şube Ekle</button>
                                                                    </div>
                                                                </div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">ytu<span class="badge bg-pink">14 Çalışan</span></li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-col-teal">
                                                    <div class="panel-heading" role="tab" id="headingThree_17">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseThree_17" aria-expanded="false" aria-controls="collapseThree_17">
                                                                <i class="material-icons">contact_phone</i> Departman
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_17" aria-expanded="false">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <div class="row clearfix">
                                                                    <div class="button-demo js-modal-yeniDepartman pull-right ">
                                                                        <button type="button" data-color="White" class="btn bg-primary waves-effect">Yeni Departman Ekle</button>
                                                                    </div>
                                                                </div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">Yazılım<span class="badge bg-pink">14 Çalışan</span></li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-col-teal">
                                                    <div class="panel-heading" role="tab" id="headingFour_17">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17" href="#collapseFour_17" aria-expanded="false" aria-controls="collapseFour_17">
                                                                <i class="material-icons">folder_shared</i> Ünvan
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFour_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_17" aria-expanded="false">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <div class="row clearfix">
                                                                    <div class="button-demo js-modal-yeniUnvan pull-right ">
                                                                        <button type="button" data-color="White" class="btn bg-primary waves-effect">Yeni Ünvan Ekle</button>
                                                                    </div>
                                                                </div>
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">Yazılım Mühendisi<span class="badge bg-pink">14 Çalışan</span></li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="resmiTatillerTab">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="button-demo js-modal-resmiTatil pull-right ">
                                            <button type="button" data-color="White" class="btn bg-primary waves-effect">Resmi Tatil Ekle</button>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead style="background-color:#009688;color:white; ">
                                                            <tr>
                                                                <th>Ad</th>
                                                                <th>Başlangıç Tarihi</th>
                                                                <th>Bitiş Tarihi</th>
                                                                <th>Süresi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Cumhuriyet Bayramı</td>
                                                                <td>02,02,2005</td>
                                                                <td>02,02,2006</td>
                                                                <td>2 gün</td>
                                                            </tr>
                                                            <tr>
                                                                <td>19 mayıs Bayramı</td>
                                                                <td>02,02,2005</td>
                                                                <td>02,02,2006</td>
                                                                <td>2 gün</td>
                                                            </tr>
                                                            <tr>
                                                                <td>23 nisan Bayramı</td>
                                                                <td>02,02,2005</td>
                                                                <td>02,02,2006</td>
                                                                <td>2 gün</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="izinTuruTab">
                        <div class="row clearfix">
                            <div class="button-demo js-modal-izinTuru pull-right ">
                                <button type="button" data-color="White" class="btn bg-primary waves-effect">İzin Türü ekle</button>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Yıllık izin
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="odemeTuruTab">
                        <div class="row clearfix">
                            <div class="button-demo js-modal-odemeTuru pull-right ">
                                <button type="button" data-color="White" class="btn bg-primary waves-effect">Ödeme Türü Ekle</button>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Ödeme Türleri
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <ul class="list-group">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="zimmetUrunuTab">
                        <div class="row clearfix">
                            <div class="button-demo js-modal-zimmetUrunu pull-right ">
                                <button type="button" data-color="White" class="btn bg-primary waves-effect">Zimmet Ürünü Ekle</button>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header" style="background-color:#009688;">
                                        <h2 style="color:#fff;">
                                            <i class="material-icons">add</i>
                                            Zimmet Ürünleri
                                        </h2>
                                        <ul class="header-dropdown m-r--5">
                                            <li class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons" style="color:#fff;">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Sil</a></li>
                                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Güncelle </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Zimmet Adı</th>
                                                        <th>Seri Numarası</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>bilgisayar</td>
                                                        <td>312321321</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td>tablet</td>
                                                        <td>31242141221</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td>1312324</td>
                                                        <td>telefon</td>
                                                      
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


