
@{
    ViewBag.Title = "WorkerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>

<div class="row clearfix">
    <div class="col-xs-12 col-sm-3">
        <div class="card profile-card">
            <div class="profile-header">&nbsp;</div>
            <div class="profile-body">
                <div class="image-area">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" width="48" height="48" alt="User" />
                </div>
                <div class="content-area ">
                    <h3></h3>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="card card-about-me">
            <div class="body bg-white">
                <ul class="dashboard-stat-list">
                    <li>
                        İşe Başlama tarihi
                        <span class="pull-right"></span>
                    </li>
                    <li>
                        Ünvan
                        <span class="pull-right"></span>
                    </li>
                    <li>
                        Şube
                        <span class="pull-right"></span>
                    </li>
                    <li>
                        Departman
                        <span class="pull-right"></span>
                    </li>
                    <li>
                        Tel
                        <span class="pull-right"></span>
                    </li>
                    <li>
                        E-Posta
                        <span class="pull-right"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="button-demo js-modal-onayEkrani pull-left">
                <button type="button" data-color="White" class="btn bg-red waves-effect">Çalışanı İşten Çıkar</button>
            </div>
            <div class="button-demo pull-right">
                <button type="button" data-color="White" class="btn bg-primary waves-effect">Cv</button>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="panel-group full-body" id="accordion_19" role="tablist" aria-multiselectable="true">
            <div class="panel ">
                <div class="panel-heading panel-col-light" role="tab" id="headingOne_19">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne_19" aria-expanded="false" aria-controls="collapseOne_19">
                            <i class="material-icons">perm_contact_calendar</i>
                            Çalışan Detayları
                        </a>
                    </h4>
                </div>
                <div id="collapseOne_19" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingOne_19">
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="body">
                                    <div>
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#genelBilgiler" aria-controls="home" role="tab" data-toggle="tab">Genel Bilgiler</a></li>
                                            <li role="presentation"><a href="#kişiselBilgiler" aria-controls="settings" role="tab" data-toggle="tab">Kişisel Bilgiler</a></li>
                                            <li role="presentation"><a href="#digerBilgiler" aria-controls="settings" role="tab" data-toggle="tab">Diğer Bilgiler</a></li>
                                            <li role="presentation"><a href="#isBilgileri" aria-controls="settings" role="tab" data-toggle="tab">İş Bilgileri</a></li>
                                            <li role="presentation"><a href="#izinBilgileri" aria-controls="settings" role="tab" data-toggle="tab">Çalışan İzin Bilgileri</a></li>
                                            <li role="presentation"><a href="#odemeler" aria-controls="settings" role="tab" data-toggle="tab">Ödemeler</a></li>
                                            <li role="presentation"><a href="#fazlaMesai" aria-controls="settings" role="tab" data-toggle="tab">Fazla Mesai</a></li>
                                            <li role="presentation"><a href="#bordro" aria-controls="settings" role="tab" data-toggle="tab">Bordro</a></li>
                                            <li role="presentation"><a href="#zimmetler" aria-controls="settings" role="tab" data-toggle="tab">Zimmetler</a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="genelBilgiler">
                                                <div class="demo-masked-input">
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>İsim</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="İsim">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Soy İsim</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="Soy İsim">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>E-Posta İş</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">email</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control email" placeholder="Ex:      ornek@ornek.com">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>E-Posta Kişisel</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">email</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control email" placeholder="Ex:      ornek@ornek.com">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Telefon</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">phone</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control mobile-phone-number" placeholder="Ex: (000) 000-00-00">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>İşe Başlama Tarihi</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">date_range</i>
                                                                </span>
                                                                <div class="form-line" id="bs_datepicker_container1">
                                                                    <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-12">
                                                            <b>Çalışma Şekli</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="form-control show-tick">
                                                                        <option>Tam Zamanlı</option>
                                                                        <option>Yarı Zamanlı</option>
                                                                        <option>Stajyer</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="row clearfix">
                                                        <div class="row clearfix jsdemo-notification-button">
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                                <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                                                        data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                                                                    Kaydet
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="isBilgileri">
                                                <div class="row clearfix">
                                                    <div class="col-md-6">
                                                        <b>Pozisyon</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="button-demo js-modal-pozisyonEkle pull-right">
                                                            <button type="button" data-color="White" data-target="#largeModal" class="btn bg-primary waves-effect">Pozisyon Ekle</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="body table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Başlangıç</th>
                                                                    <th>Şirket</th>
                                                                    <th>Şube</th>
                                                                    <th>Departman</th>
                                                                    <th>Ünvan</th>
                                                                    <th></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>00,00,0000</td>
                                                                    <td>atlas</td>
                                                                    <td>ytu </td>
                                                                    <td>yazılım</td>
                                                                    <td>yazılım müh.</td>
                                                                    <td>
                                                                        <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                        <button class="btn bg-red waves-effect">SİL</button>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr style="border-top: 1px dashed black;" />
                                                <div class="row clearfix">

                                                    <div class="col-md-6">
                                                        <b>Maaş</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="button-demo js-modal-maasbilgisiEkle pull-right">
                                                            <button type="button" data-color="White" class="btn bg-primary waves-       effect">Maaş Ekle</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="body table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Geçerlilik Tarihi</th>
                                                                    <th>Tutar</th>
                                                                    <th>Ödeme Düzeni</th>
                                                                    <th>Maaş Periyodu</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>00,00,0000</td>
                                                                    <td>555225</td>
                                                                    <td>brüt </td>
                                                                    <td>aylık</td>
                                                                    <td>
                                                                        <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                        <button class="btn bg-red waves-effect">SİL</button>
                                                                    </td>

                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="kişiselBilgiler">
                                                <div class="demo-masked-input">
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Doğum Tarihi</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">date_range</i>
                                                                </span>
                                                                <div class="form-line" id="bs_datepicker_container">
                                                                    <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Tc Kimlik No</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control tckimlik" placeholder="Tc Kimlik No">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Medeni Hal</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Eş Çalışma Durumu</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Cinsiyet</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>Erkek</option>
                                                                        <option>Kadın</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Engel Durumu</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Eğitim Durumu</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Uyruğu</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-sm-6">
                                                            <b>Çocuk Sayısı</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Kan Grubu</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <select class="selectpicker">
                                                                        <option>1.Derece</option>
                                                                        <option>2.Derece</option>
                                                                        <option>3.Derece</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="row clearfix jsdemo-notification-button">
                                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                                <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                                                        data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                                                                    Kaydet
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="digerBilgiler">

                                                <div class="row clearfix">
                                                    <h5>Adres Bilgileri</h5>
                                                    <hr />
                                                    <div class="col-sm-6">
                                                        <b>Şehir</b>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="material-icons">location_city</i></i>
                                                            </span>
                                                            <div class="form-line">
                                                                <select class="selectpicker">
                                                                    <option>1.Derece</option>
                                                                    <option>2.Derece</option>
                                                                    <option>3.Derece</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <b>İlçe</b>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="material-icons">location_city</i></i>
                                                            </span>
                                                            <div class="form-line">
                                                                <select class="selectpicker">
                                                                    <option>1.Derece</option>
                                                                    <option>2.Derece</option>
                                                                    <option>3.Derece</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <b>Adres</b>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons"><i class="material-icons">location_city</i></i>
                                                            </span>
                                                            <textarea rows="1" class="form-control no-resize" placeholder="Güncel Adresi Giriniz.."></textarea>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="row clearfix">
                                                    <div class="demo-masked-input">
                                                        <h5>Banka Bilgileri</h5>
                                                        <hr />
                                                        <div class="col-sm-6">
                                                            <b>Banka Adı</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">payment</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="Banka Adı">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Hesap Numarası</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">payment</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control hesapNo" placeholder="Hesap Numarası">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>İban</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">payment</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control iban" placeholder="İban No">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="demo-masked-input">
                                                        <h5>Acil Durumu Bilgileri</h5>
                                                        <hr />
                                                        <div class="col-sm-6">
                                                            <b>Acil Durumda Aranacak Kişi</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="İsim">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Yakınlık Derecesi</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="Yakınlık Derecesi">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Telefon no</b>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="material-icons">person</i>
                                                                </span>
                                                                <div class="form-line">
                                                                    <input type="text" class="form-control mobile-phone-number" placeholder="Telefon no">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="row clearfix jsdemo-notification-button">
                                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                                            <button type="button" class="btn btn-primary btn-block waves-effect" data-placement-from="bottom" data-placement-align="right"
                                                                    data-animate-enter="" data-animate-exit="" data-color-name="bg-green">
                                                                Kaydet
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="izinBilgileri">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <b>Çalışan İzin Bilgileri</b>
                                                        <div class="button-demo js-modal-izinEkle pull-right ">
                                                            <button type="button" data-color="White" class="btn bg-primary waves-effect">Yeni İzin Ekle</button>
                                                        </div>
                                                        <div class="button-demo js-modal-izinDurumuEkle pull-right">
                                                            <button type="button" data-color="White" class="btn bg-red waves-effect">İzin Durumu Detayları</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="body table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Başlangıç</th>
                                                                <th>Bitiş</th>
                                                                <th>Süre</th>
                                                                <th>İzin türü</th>
                                                                <th>Oluşturulma Tarihi</th>
                                                                <th>Onay Durumu</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>00,00,0000</td>
                                                                <td>00,00,0000</td>
                                                                <td>4 </td>
                                                                <td>Yıllık</td>
                                                                <td>00,00,0000</td>
                                                                <td>Onaylı</td>
                                                                <td>
                                                                    <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                    <button class="btn bg-red waves-effect">SİL</button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="odemeler">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <b>Ödeme Detayları</b>
                                                        <div class="button-demo js-modal-OdemeEkle pull-right ">
                                                            <button type="button" data-color="White" class="btn bg-primary waves-effect">Ödeme Ekle</button>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="body table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>

                                                            <tr>
                                                                <th>Ödeme Tarihi</th>
                                                                <th>Türü</th>
                                                                <th>Tutar</th>
                                                                <th>Onay Durumu</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>00,00,0000</td>
                                                                <td>Avans</td>
                                                                <td>4000tl </td>
                                                                <td>Onaylı</td>
                                                                <td>
                                                                    <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                    <button class="btn bg-red waves-effect">SİL</button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="fazlaMesai">
                                                <div class="row clearfix">
                                                    <div class="col-md-12">
                                                        <b>Fazla Mesai Detayları</b>
                                                        <div class="button-demo js-modal-fazlaMesaiEkle pull-right ">
                                                            <button type="button" data-color="White" class="btn bg-primary waves-effect">Fazla Mesai Ekle</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="body table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>

                                                            <tr>
                                                                <th>Tarih</th>
                                                                <th>Süre</th>
                                                                <th>Açıklama</th>
                                                                <th>Onay Durumu</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>00,00,0000</td>
                                                                <td>2 saat</td>
                                                                <td>-</td>
                                                                <td>Onaylı</td>
                                                                <td>
                                                                    <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                    <button class="btn bg-red waves-effect">SİL</button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="zimmetler">
                                                <div class="body table-responsive">
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <b>Zimmet Detayları</b>

                                                            <div class="button-demo js-modal-zimmetEkle pull-right ">
                                                                <button type="button" data-color="White" class="btn bg-primary waves-effect">Zimmet Ekle</button>
                                                            </div>

                                                            <div class="button-demo js-modal-zimmetFisi pull-right ">
                                                                <button type="button" data-color="White" class="btn bg-red waves-effect">Zimmet fişi</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row clearfix">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Zimmet Ürünü</th>
                                                                    <th>Seri Numarası</th>
                                                                    <th>Veriliş Tarihi</th>
                                                                    <th>İade Tarihi</th>
                                                                    <th>Açıklama</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <!--link e baıldığında o ayın bordrosunu verecek-->
                                                                    <td>Araç</td>
                                                                    <td>85855566</td>
                                                                    <td>18 Eylül 2019</td>
                                                                    <td>26 Eylül 2019</td>
                                                                    <td>-</td>
                                                                    <td>
                                                                        <button class="btn bg-blue waves-effect">GÜNCELLE</button>
                                                                        <button class="btn bg-red waves-effect">SİL</button>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>



                                            </div>
                                            <div role="tabpanel" class="tab-pane fade in" id="bordro">
                                                <div class="body table-responsive">
                                                    <div class="row clearfix">
                                                        <div class="col-md-12">
                                                            <b>Bordro Detayları</b>

                                                            <div class="demo-single-button-dropdowns">
                                                                <div class="btn-group pull-right">
                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                        Çıktı al<span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="javascript:void(0);" class="waves-effect waves-block">Çalışan İçin</a></li>
                                                                        <li><a href="javascript:void(0);" class="waves-effect waves-block">İşveren İçin</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="demo-single-button-dropdowns">
                                                                <div class="btn-group pull-right">
                                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                        Seçilen Tarihe Göre Sırala <span class="caret"></span>
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="javascript:void(0);" class="waves-effect waves-block">2019</a></li>
                                                                        <li><a href="javascript:void(0);" class="waves-effect waves-block">2018</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row clearfix">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Ay</th>
                                                                    <th>Maaş</th>
                                                                    <th>Çalışılan Gün</th>
                                                                    <th>SGK Matrahı</th>
                                                                    <th>KGV</th>
                                                                    <th>AGİ</th>
                                                                    <th>Ödenecek Gelir(Net)</th>
                                                                    <th>Ödenmiş Gelir(Net)</th>
                                                                    <th>Durum</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <!--link e baıldığında o ayın bordrosunu verecek-->
                                                                    <td><a href="#">Eylül</a></td>
                                                                    <td>Maaş</td>
                                                                    <td>21 </td>
                                                                    <td>3.300,00</td>
                                                                    <td>25.245,00</td>
                                                                    <td>191,88</td>
                                                                    <td>2.410,83</td>
                                                                    <td>0,00</td>
                                                                    <td>Onaylı</td>
                                                                    <td>
                                                                        <button class="btn bg-red waves-effect">SİL</button>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Pop-up Ekranları -->
<!--Onay Ekranı-->
<div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="demo-google-material-icon align-center">
                    <i class="material-icons" style="font-size:70px;color:#b52121">warning</i>
                </div>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">Bu çalışanı işten çıkarmak istediğinize emin misiniz?<br /> Bu işlem geri alınamaz.</p>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-istenCikarma pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Evet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--çalışan işten çıkarma-->
<div class="modal fade" id="mdModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                ÇALIŞAN İŞTEN ÇIKARMA
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <b>İşten Çıkarılma Tarihi</b>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">date_range</i>
                        </span>
                        <div class="form-line" id="bs_datepicker_container2">
                            <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <b>Açıklama</b>
                    <div class="form-group">
                        <div class="form-line">
                            <textarea rows="1" class="form-control no-resize" placeholder="İşten Çıkarılma Sebebini Açıklayınız."></textarea>
                        </div>
                    </div>
                </div>





            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pozisyon ekle-->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                Pozisyon Ekle
            </div>

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <b>Şirket</b>
                        <div class="input-group">
                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Atlas Yazılım</option>
                                    <option>2.Derece</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Şube</b>
                        <div class="input-group">

                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>1.Derece</option>
                                    <option>2.Derece</option>
                                    <option>3.Derece</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <b>Departman</b>
                        <div class="input-group">

                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>1.Derece</option>
                                    <option>2.Derece</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Ünvan</b>
                        <div class="input-group">

                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>1.Derece</option>
                                    <option>2.Derece</option>
                                    <option>3.Derece</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Pozisyona Başlama Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container3">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Maaş Ekle-->
<div class="modal fade" id="maasModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                Maaş Ekle
            </div>

            <div class="modal-body">
                <div class="demo-masked-input">
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <b>Maaş</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons"><i class="material-icons">payment</i></i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control tl-money" placeholder="Ex: 99999,00 ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <b>Birim</b>
                            <div class="input-group">

                                <div class="form-line">
                                    <select class="selectpicker">
                                        <option>Tl</option>
                                        <option>Dolar</option>
                                        <option>3.Derece</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Geçerlilik Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container4">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Maaş Periyodu</b>
                        <div class="input-group">

                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Aylık</option>
                                    <option>Haftalık</option>
                                    <option>Yıllık</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--İzin Ekle-->
<div class="modal fade" id="izinEkleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                İzin Ekle
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <b>İzin Türü</b>
                        <div class="input-group">
                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Yıllık İzin</option>
                                    <option>2.Derece</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Kullanılan Gün Sayısı</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Kullanılan Gün Sayısı">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Başlangıç Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container5">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b>Bitiş Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container6">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <b>Açıklama</b>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="1" class="form-control no-resize" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--İzin Detay Bilgileri-->
<div class="modal fade" id="izinDetayModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                İzin Detay Bilgileri
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <ul class="list-group hoverable ">
                        <li class="list-group-item">Çalışma Yılı: <span class="badge bg-blue">3</span></li>
                        <li class="list-group-item">Bu Yıl Kazanılan:<span class="badge bg-green">14</span></li>
                        <li class="list-group-item">Bu Yıl Kullanılan: <span class="badge bg-red">0</span></li>
                        <li class="list-group-item">Toplam Kazanılan: <span class="badge bg-green">42</span></li>
                        <li class="list-group-item">Toplam Kullanılan: <span class="badge bg-red">28</span></li>
                        <li class="list-group-item">Kalan İzin Hakkı: <span class="badge bg-green">14</span></li>
                        <li class="list-group-item">Geçen Yıldan Devreden: <span class="badge bg-green">0</span></li>
                    </ul>


                </div>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-12"><button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Tamam</button>  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Ödeme Ekle-->
<div class="modal fade" id="odemeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                Ödeme Ekle
            </div>

            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <b>Tutar</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons"><i class="material-icons">payment</i></i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control money-dollar" placeholder="Ex: 99999 ">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Birim</b>
                        <div class="input-group">

                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Tl</option>
                                    <option>Dolar</option>
                                    <option>3.Derece</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Ödeme Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container7">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>ÖdemeTürü</b>
                        <div class="input-group">
                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Avans</option>
                                    <option>Harçlık</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Mesai Ekle-->
<div class="modal fade" id="mesaiModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                Fazla Mesai Ekle
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Mesai Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container8">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <b>Süre</b>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">person</i>
                                </span>
                                <div class="form-line">
                                    <input type="text" class="form-control" placeholder="Süre">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <b>Açıklama</b>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="1" class="form-control no-resize" placeholder="Mesai sebebini açıklayınız.."></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--İzin Ekle-->
<div class="modal fade" id="zimmetEkleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header bg-blue">
                Zimmet Ekle
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <b>Zimmet Ürünü</b>
                        <div class="input-group">
                            <div class="form-line">
                                <select class="selectpicker">
                                    <option>Araç</option>
                                    <option>Bilgisayar</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b>Seri Numarası</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        <b>Veriliş Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container9">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <b>İade Tarihi</b>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                            <div class="form-line" id="bs_datepicker_container10">
                                <input type="text" class="form-control" placeholder="Bir Tarih Seçiniz." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <b>Açıklama</b>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="1" class="form-control no-resize" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-sm-6 ">
                        <div class="button-demo js-modal-button pull-left">
                            <button type="button" class="btn btn-primary waves-effect" data-color="White">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-sm-6"><button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">İptal</button>  </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('select').selectpicker();
    $(function () {
        $('select').selectpicker();
    });

</script>